@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nosifer&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ruwudu:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: "Quantico", sans-serif;
}

.bg{
    background-image: url(./img/Bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 21px;
}

header{
    z-index: 100;
    width: 100%;
    position: fixed;
    padding: 21px 0;
    background-color: #272C3D;
    box-shadow: 0px 10px 10px #00000080;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

ul{
    color: white;
    gap: 40px;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li:hover{
    color: #FF9C28;
}

select {
    width: 165px;
    height: 30px;
    border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: #272C3D;
  border: none;
  border-style: none;
}

.input-parent{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #404864;
    width: 241px;
    height: 30px;
}

input{
    background-color: #404864;
    border: none;
    border-style: none;
    outline: none;
}

.top h1{
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin: 0 auto;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent{
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parent img:active{
    transform: scale(0.9);
}

section{
    margin: 0 100px;
    background-color: #1B1E27;
}

.card1{
    padding: 61px 204px 142px 245px;
}

.info{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
}

.card1 h2{
    font-size: 24px;
    color: white;
    font-weight: 400;
}

footer{
    padding: 20px 0;
    background-color: #272C3D;
}